.post {
  max-width: 900px;
  margin: auto;
}

.detail-post-body {
  border-bottom: 1px solid #EEE;
  display: flex;
  padding-bottom: 10px;
}

.detail-body-main {

}

.detail-post-title {
  margin: 0;
  padding-top: 20px;
}

.detail-post-comment {
  padding: 0 5% 5% 5%;
}

.detail-post-author {
  color: #757575;
  font-style: italic;
}

.comments-count {
  padding: 16px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.54);
}
