.post-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.post-item {
  max-width: 1200px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  background-color: #FFF;
  display: flex;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
}

.post-content {
  width: 70%;
}

.post-title {
  margin-top: 0;
  display: inline;
  font-size: 1.2em;
}

.post-sub-details {
  display: flex;
  justify-content: space-between;
}

.post-author,
.post-comments,
.post-timestamp {
  margin: 20px 0 0 0;
  font-size: 0.7em;
  color: #757575;
  display: inline-block;
  vertical-align: bottom;
}

.post-comments p,
.post-comments > div {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
  margin-top: 0;
}



.post-body {
  margin-bottom: 0;
  margin-top: 10px;
  font-style: italic;
  color: #757575;
}

.post-details {
  margin-left: auto;
  text-align: right;
}
